<%inherit file="../main.html"/>
<%! from openedx.core.lib.js_utils import escape_json_dumps %>
<%namespace name='static' file='/static_content.html'/>

<%block name="js_extra">
<%static:require_module module_name="js/financial-assistance/views/financial_assistance_form_view" class_name="FinancialAssistanceFormView">
FinancialAssistanceFormView({
    fields: ${escape_json_dumps(fields)},
    user_details: ${escape_json_dumps(user_details)},
    submit_url: ${escape_json_dumps(submit_url)}
});
</%static:require_module>
</%block>

<div class="financial-assistance-wrapper"></div>
