<%inherit file="../main.html"/>
<%
from django.conf import settings
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%namespace name="footer" file="footer.html"/>

<div class="financial-assistance-wrapper">
  <%include file="header.html"/>

  <div class="financial-assistance apply-form">
    <ol class="apply-form-list">
      <li class="apply-form-section">
        <h2>${_("About Me")}</h2>
        ## Translators: "platform_name" is a string representing the name of this installation, such as "edX". "link_start" and "link_end" are HTML tags which begin and end a hyperlink.
        <p>${_("The following information is part of your {platform_name} profile. All fields are required. If any information is incorrect, {link_start}edit your profile{link_end} before submitting this application.").format(
              platform_name=settings.PLATFORM_NAME,
              link_start='<a href="{}">'.format(reverse('account_settings')),
              link_end='</a>'
            )}
        </p>
        <ol class="about-me">
          <li class="about-me-item">
            <p>${_("Username")}</p>
            <p>${user.username}</p>
          </li>

          <li class="about-me-item">
            <p>${_("Email address")}</p>
            <p>${user.email}</p>
          </li>

          <li class="about-me-item">
            <p>${_("Legal name")}</p>
            <p>${user.profile.name}</p>
          </li>

          <li class="about-me-item">
            <p>${_("Country of residence")}</p>
            <p>${user.profile.country.name}</p>
          </li>
        </ol>
      </li>
      <li class="apply-form-section">
        <h2>${_("Course Details")}</h2>
      </li>
      <li class="apply-form-section">
        <h2>${_("Your Learning Goals")}</h2>
      </li>
  </div>

  ${footer.footer(_("Submit Application"), "")}
</div>
