<%
from django.utils.translation import ugettext as _
%>

<div class="financial-assistance financial-assistance-header">
    <h1>${_("Financial Assistance Application")}</h1>
    <p>${_("EdX now offers financial assistance for learners who want to earn verified certificates but who may not be able to pay the Verified Certificate fee. Eligible learners receive 90%% off the Verified Certificate fee for a course." % ())}</p>
    <p>${_("To apply for financial assistance, enroll in the audit track for a course that offers Verified Certificates, and then complete this application. Note that you must complete a separate application for each course you take.")}</p>
</div>
